{%extends "unlogged/base.html.twig"%}

{% block title %}
	sakura.
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('index') }}
{% endblock %}
{% block head %}{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('index') }}
{% endblock %}

{% block body %}
	<video autoplay loop muted plays-inline class="bg-video">
		<source src="images/bg.mp4" type="video/mp4">
	</video>
	<div class="nav">
		<a href="#">/a/</a>
		<a href="#">/b/</a>
		<a href="#">/$/</a>
	</div>
	<div class="container">
		<div class="main">
			<h2>Sakura engine</h2>
			<p>Have you ever dreamt of your own community?</p>
			<a href="{{path('app_login')}}" class="journey">i do.</a>
		</div>

	</div>
	<div class="footer">
		designed by
		<a href="https://github.com/yanushevitz">yanushevitz</a>
	</div>

{% endblock %}
