{%extends "unlogged/base.html.twig"%}

{% block title %}
	submit.
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('w') }}
{% endblock %}

{% block body %}

	<div class="container">
		<div
			class="section">
			{# <img src="https://freepngimg.com/save/72916-website-web-apple-mockup-laptop-modern-design/2300x1200" width="30%"/> #}
			<div class="heading">
				<h1>
					<span class="big">submit</span>yourself!</h1>
			</div>
		</div>
		<div class="section">
			a
		</div>
		<div class="section">
			a
		</div>
		<div class="section">
			a
		</div>
	</div>
	<div class="arrow">
		↓
	</div>


{% endblock %}
