<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block boardname %}{% endblock %}
		</title>
	</head>
	<body>
		{% block nav %}{% endblock %}
		{% block board %}{% endblock %}
	</body>

</html>
