.container {
    width: 70%;
    margin-inline: auto;
    margin-top: 5em;
}

.post {
    border: 1px solid var(--violet);
    border-radius: 20px;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #eee;
}

.post .image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .image img {
    max-width: 100%;
    max-height: 40vh;
    border-radius: 20px;
}

.post .text {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
}

.post .menu {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 1em;
    padding: 0;
}

.post .comments {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.post div {
    text-align: center;
    display: flex;
    padding: 0.5em;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border: 1px solid var(--violet);
    border-radius: 20px;
}

.comment .author {
    border-bottom: 1px solid var(--violet);
    display: flex;
}

.post .menu {
    border: 1px solid var(--violet);
    border-radius: 20px;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.post-form form * {
    margin-bottom: 0.5em;
}

.post-form form {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-form textarea {
    min-height: 30vh;
}

.reactions {
    color: var(--violet);
    /* background-color: #fefefe; */
    padding: 0.5em;
    border-radius: 20px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.post-menu {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.post-menu a {
    border: 1px solid #ccc;
    width: 30%;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em 0.2em;
    border-radius: 20px;
    text-decoration: none;
    color: var(--violet);
    transition: 200ms;
}

.post-menu a:hover{
    background-color: #dad;
    color: white;
}
.results{
    background-color: white;
    border-radius: 20px;
    
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    margin-top: 1em;

}

.result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    border: 1px solid var(--violet);
    margin: 1em 0;
    border-radius: 10px;
}
.result div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.follow{
    cursor: pointer;
}


@media(max-width: 1000px) {
    body {
        font-size: 2em;
    }



    .container {
        width: 90%;
        margin-top: 3em;
    }

    .post {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

    }

    .post .image {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .post .text {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .post .menu {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .post .comments {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .nav div:first-child {
        display: none;
    }
}