<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}
    </head>
    <body>
    <div class="nav">
        <div class="bar">
        <a href="/dashboard">
            <img src="/images/logo6.png">
            </a>
        </div>
        <div class="bar">
            <input type="text" placeholder="search" class="searchbar">
        </div>
        <div class="bar">
            {% block nav %}
            {% endblock %}
            <a href="/dashboard">board</a>
            <a href="/profile/0">profile</a>
            <a href="{{path('app_logout')}}">logout</a>
        </div>
    </div>
    {% block body %}{% endblock %}
    </body>
</html>
