{% extends "logged/base.html.twig" %}

{% block title %}
submit | dashboard
{%endblock%}
{% block body %}
<div class="nav">
    <a href="">board</a>
    <a href="">profile</a>
    <a href="">logout</a>
</div>
<div class="container">
    {# <div class="2" #}
</div>


{% endblock %}