{% extends "logged/base.html.twig" %}

{% block stylesheets %}
{{parent()}}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}
submit | dashboard
{%endblock%}
{% block body %}
<div class="container">
  <button class="refresh">Refresh</button>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="post-form">
        <form method="POST" id="postForm">
        <h1>Create post</h1>
            <textarea id="text"></textarea>
            <input type="file">
        </form>
        <button id="submitPost">Create post</button>
    </div>
  </div>

</div>
</div>
        

{% endblock %}