{% extends "logged/base.html.twig" %}

{% block stylesheets %}
{{parent()}}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}
submit | dashboard
{% block nav %}
  <a class="refresh">Refresh</a>
  <a id="createPost">create post</a>
{% endblock %}

{% block body %}
<div class="container">
</div>

<div id="postModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="post-form">
        <form method="POST" id="postForm">
        <h1>Create post</h1>
            <textarea id="text"></textarea>
            <input type="file">
        </form>
        <button id="submitPost">Create post</button>
    </div>
  </div>

</div>
        

{% endblock %}