{% extends "logged/base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('post') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('react-post') }}
{% endblock %}

{% block title %}
	submit | post
{% endblock %}

{% block body %}
	<div id="root"></div>
{% endblock %}
