{% extends "logged/base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('post') }}
{% endblock %}


{% block title %}
submit | post
{% endblock %}
{% block nav %}
  <a class="refresh">Refresh</a>
  <a id="createComment">add comment</a>
{% endblock %}

{% block body %}
<div class="container">
</div>


<div id="commentModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="comment-form">
      <h1>Create comment</h1>
      <textarea id="commentText"></textarea>
      <button id="submitComment">create comment</button>
    </div>
  </div>

</div>



{% endblock %}