{% extends "logged/base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}


{% block title %}
submit | profile
{% endblock %}
{% block body %}
<div class="fake-nav"></div>
<div class="container">
</div>
{% endblock %}