{% extends "logged/base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('react-dashboard') }}
{% endblock %}

{% block body %}
	<div id="root"></div>

{% endblock %}
